venv/
__pycache__/
*.pyc
.env
docs/diagramas/*.pdf
docs/diagramas/*.png
docs/diagramas/*.jpeg
docs/diagramas/*.jpg
docs/diagramas/*.pdf
docs/diagramas/*.png
docs/diagramas/*.jpeg
docs/diagramas/*.jpg
